[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dateparser = "*"
selenium = "*"
requests = "*"
numpy = "*"
aiogram = "*"
python-dotenv = "*"
psycopg2 = "*"
sqlalchemy = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
